{% extends 'base.html' %} {% block content %}
<div class="container-fluid mb-4 pb-4">
  <div class="row  d-flex justify-content-center ">
    <div class="col-12 m-3 p-3">
      <div class="row align-items-center mb-2">
        <div class="col text-center">
          <div class="mb-4 pb-4">
            <h1 class="mb-3">Bem-vindo ao Readbook!</h1>
            <p>Organize e gerencie sua coleção de livros facilmente</p>
          </div>
          <div class="container mb-4 pb-4">
            <section class="description mb-4 pb-4">
              <h2 class="section-title mb-3">Sobre Nós</h2>
              <p class="text-center">Nosso site oferece uma plataforma simples e eficaz para cadastrar, organizar e gerenciar sua coleção de livros. Tenha todos os seus títulos ao alcance de um clique!</p>
            </section>
            <section class="steps mb-4 pb-4">
              <h2 class="section-title mb-4">Como Funciona ?</h2>
                <div class="row mb-4 pb-4">
                  <div class="col-md-4">
                    <div class="card step-item">
                      <div class="card-body text-center">
                        <h5 class="card-title">Passo 1</h5>
                        <p class="card-text">Crie uma Conta</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card step-item">
                      <div class="card-body text-center">
                        <h5 class="card-title">Passo 2</h5>
                        <p class="card-text">Adicione Seus Livros</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card step-item">
                      <div class="card-body text-center">
                        <h5 class="card-title">Passo 3</h5>
                        <p class="card-text">Organize Sua Coleção</p>
                      </div>
                    </div>
                  </div>
                </div>
            </section>

            <section class="benefits">
              <h2 class="section-title mb-4">Benefícios</h2>
              <div class="row">
                <div class="col-md-4">
                  <div class="benefit-item text-center">
                    <h5>Organização Fácil</h5>
                    <p>Mantenha todos os seus livros organizados em um só lugar.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="benefit-item text-center">
                    <h5>Acesso Rápido</h5>
                    <p>Encontre qualquer livro da sua coleção com facilidade e rapidez.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="benefit-item text-center">
                    <h5>Compartilhamento</h5>
                    <p>Compartilhe sua coleção com amigos e familiares.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
